body{
    font-family: sans-serif;
    background-color: #F8F9FA;
}
header{
    height: 54px;
}
.big-box{
    height: calc(100vh - 54px);
    overflow: auto;
}
.side-bar{
    background-color: #051E34;
    flex-basis: 55px;
    flex-shrink: 0;
}
main{
    flex-grow: 1;
    overflow: auto;
}
.nav-bar{
    background-color: #1B72E8;
    min-height: 100px;
}
td img{
    width: 25px;
}
.my-icon{
    border: 1px solid #6C757D;
    width: 20px;
    height: 20px;
    font-size: .7rem;
    padding: 4px 5px 2px 4px;
    border-radius: 5px;
    color: #6C757D;
}
.bg-img{
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.side-bar-top{
    height: 600px;
}
.img-size{
    background-size: contain;
    width: 50px;
}
.form-control{
    flex-basis: 1200px;
}
.c-gray{
    color: #5B5858;
}
.c-orange{
    color: #FF8F00;
}
.bg-gray{
    background-color: #E5E5E5;
}
.search{
    height: 38px;
}
.bg-bluenavy{
    background-color: #165BBA;
}
.icon-navbar{
    font-size: 3rem;
    cursor: pointer;
}
.width-canvas{
    min-width: 600px;
}
.my-input{
    width: 270px;
    height: 37px;
    border-radius: 5px;
    border-color: #CED4DA;
}
.my-input-states{
    width: 165px;
    height: 37px;
}
.my-input-cap{
    width: 70px;
    height: 37px;
}
@media screen and (min-width: 992px) {
    .side-bar{
        flex-basis: 150px;
    }
    .search{
        height: 37px;
    }
}
